@using Microsoft.Extensions.Localization
@model Articalproject.ViewModels.Post.GetPostsViewModel
@inject IStringLocalizer<SharedResources> _SharedResources;

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:cairo">@_SharedResources[SharedResourcesKeys.Details]</h1>

<div>
    <h4 style="font-family:cairo">@_SharedResources[SharedResourcesKeys.PostDetails]</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostImage)
        </dt>
        <dd class = "col-sm-10">
            <img src=@Model.PostImage class="img-fluid" />
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PostDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryNameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryNameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryNameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryNameEn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">@_SharedResources[SharedResourcesKeys.Edit]</a> |
    <a asp-action="Index">@_SharedResources[SharedResourcesKeys.BacktoList]</a>
</div>
