@using Articalproject.ViewModels.Home
@using Articalproject.Helper
@inject IStringLocalizer<SharedResources> _SharedResources;
@model ArticleViewModel

<section class="bounce animated article-clean">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                <div class="intro">
                    <h1 class="text-center" style="font-family: Cairo, sans-serif;">@Model.PostTitle</h1>
                    <p class="text-center"><span class="by">by</span> <a href="#">@Model.AuthorName</a><span class="date">@Model.PostDate </span></p><img class="img-fluid" src="@Model.PostImage">
                </div>
                <div class="text">
                    <p class="text-end" style="font-family: Cairo, sans-serif;">
                        @Model.PostDescription
                </p>
                </div>
            </div>
        </div>
    </div>
    <div data-aos="zoom-in" class="social-icons">
        <a href="#"></a>
        <h3 style="font-family: Cairo, sans-serif;"> @_SharedResources[SharedResourcesKeys.ArticalPost]</h3><i class="icon ion-social-twitter"></i><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"></a>
    </div>
</section>