@model IEnumerable<Articalproject.ViewModels.Author.GetAuthorsViewModel>


<table class="table table-striped hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameAr)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameEn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProfilePictureUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Bio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instagram)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FacebookUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TwitterUrl)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameAr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NameEn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    <img src=@item.ProfilePictureUrl alt="Profile Picture" style="width: 50px; height: 50px;" />

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Bio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instagram)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FacebookUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TwitterUrl)
                </td>

                <td>
                    <a asp-action="Update" asp-route-id="@item.AuthorId">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@{

    <div class="btn-container">
        <a class="nav-btn" asp-action="Index" asp-route-Id="0">الصفحة الأولى</a>

        @if (Model.Count() >= 1 && ViewBag.Next == true)
        {
            <a class="nav-btn" asp-action="Index" asp-route-Id="@Model.Last().AuthorId" asp-route-next="true">التالي</a>
        }

        @if (ViewBag.Previous == true)
        {
            <a class="nav-btn" asp-action="Index" asp-route-Id="@Model.First().AuthorId" asp-route-next="false">السابق</a>
        }
    </div>

}