@model Articalproject.ViewModels.Author.GetAuthorsViewModel

@{
    ViewData["Title"] = "حذف";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 style="font-family:cairo">حذف</h1>

<h3 style="font-family:cairo">هل انت متاكد من حذف هذا الناشر</h3>
<div>
    <h4 style="font-family:cairo">معلومات الناشر</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameEn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameEn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfilePictureUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfilePictureUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FacebookUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FacebookUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwitterUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwitterUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instagram)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instagram)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        @Html.AntiForgeryToken()
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
